# 忽略所有编译生成的文件
*.pyc
__pycache__/

# 忽略日志文件
logs/*.log

# 忽略IDE配置文件
.idea/

# 忽略数据库文件
core/static/file_from_user/*
db/*.sqlite3

# 忽略测试结果文件
tests/results/*

# 忽略特定类型的文件
*.docx
*.db
LICENSE
.htaccess
*.pid
gunicorn_conf.py
*.txt
*.ini
*.pdf